/* Declaracion de Variables para el diseño */
:root{
    --color-primario: #1F74AF;
    --color-secundario: #2494D8;
    --color-letra: #FFFFFF;
    --color-letra-hover: #000000;
    --color-letra-secundario: #9B9A9A;
}
/* reset de estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* Se da estilos a la cabecera */
.cabecera{
    background-color: var(--color-primario);
    color: var(--color-letra);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.cabecera h1{
    font-family: 'Poppins';
    text-align: center;
    font-size: 30px;
    margin-left: -4em;
}
.cabecera .aside_head:first-child{
    margin-right: .3em;
}
.cabecera .aside_head a{
    color: var(--color-letra);
    margin: 0 8px;
}
/* ****************** */

/* Se comienza a dar estilos a la barra lateral */
.sidebar{
    position: relative;
    float: left;
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: var(--color-primario);
    margin-right: 15px;
    padding: 10px;
}
.sidebar .main_menu .menu_item{
    color: var(--color-letra);
    padding: 10px;
    margin-bottom: 20px;
}
.sidebar .main_menu .menu_item a{
    color: var(--color-letra);
    margin-left: 10px;
}

.sidebar .nav_footer{
    display: grid;
    grid-template-columns: 120px 30px;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-letra);
}
.sidebar .nav_footer .profile_info{
    display: grid;
    grid-template-columns: 30px 90px;
    justify-content: space-evenly;
}