/* Declaracion de Variables para el diseño */
:root{
    --color-primario: #1F74AF;
    --color-secundario: #2494D8;
    --color-letra: #FFFFFF;
    --color-letra-hover: #000000;
    --color-letra-secundario: #9B9A9A;
    --color-letra-desactive: #5b5b5b;
}
/* reset de estilos */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    width: 100vw;
    height: 100vh;
    user-select: none;
    overflow-x: hidden;
}
/* Se da estilos a la cabecera */
.cabecera{
    background-color: var(--color-primario);
    color: var(--color-letra);
    display: flex;
    height: 100px;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
}

.cabecera h1{
    font-family: 'Poppins';
    text-align: center;
    font-size: 30px;
}
.cabecera .aside_head{
    margin-right: 2em;
    font-size: 18px;
}
.cabecera .aside_head:first-child{
    margin-right: .3em;
}
.cabecera .aside_head a{
    color: var(--color-letra);
    margin: 0 10px;
}
.cabecera .aside_head a>i{
    color: var(--color-letra);
    margin-left: 8px;
}
/* ****************** */

/* Se comienza a dar estilos a la barra lateral */
.sidebar{
    position:relative;
    float: left;
    min-height: 75%;
    width: 200px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    background-color: var(--color-primario);
    margin-right: 15px;
    padding: 10px;
}

.sidebar .main_menu .menu_item{
    color: var(--color-letra);
    padding: 10px;
    margin-bottom: 20px;
    transition: all .3s ease;
}
.sidebar .main_menu .menu_item:hover{
    cursor: pointer;
    background-color: var(--color-secundario);
}
.sidebar .main_menu .menu_item a{
    color: var(--color-letra);
    margin-left: 10px;
}

.sidebar .nav_footer{
    display: grid;
    grid-template-columns: 120px 30px;
    justify-content: space-evenly;
    align-items: center;
    color: var(--color-letra);
}
.sidebar .nav_footer a{
    color: var(--color-letra);
}
.sidebar .nav_footer .profile_info{
    display: grid;
    grid-template-columns: 30px 90px;
    justify-content: space-evenly;
}

.content{
    display: flex;
    flex-flow: column wrap;
    min-height: 500px;
    max-height: 900px;
}
.content .head_content{
    display: flex;
    flex-flow: row wrap;
    height: 50px;
    /* background-color: azure; */
    color: var(--color-letra-desactive);
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    margin-right: 20px;
}
.content .head_content h2{
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
}
.content .head_content h4{
    font-size: 30px;
    font-family: 'Quicksand';
    font-weight: 300;
}
.footer{
    float: inline-end;
    text-align: center;
    padding: 10px;
    width: 100%;
    min-height: 100px;
    color: #fff;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--color-secundario);
}
.footer p{
    margin-bottom: 10px;
}